.navbar {
    padding: 30px;
    font-size: large;
}

a {
    padding: 4px 16px;
    text-decoration: none;
    color: darkblue;
}

.brand {
    color: blueviolet
}

button {
    margin: 16px 8px;
    padding: 4px 8px;
    background-color: blueviolet;
    border: 0px;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}
