.navbar {
    padding: 30px;
    font-size: large;
}

a {
    padding: 4px 16px;
    text-decoration: none;
    color: darkblue;
}

.brand {
    color: #3d076f
}

button {
    margin: 16px 8px;
    padding: 4px 8px;
    background-color: #3d076f;
    border: 0px;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
}
